# Copyright 2014 Cisco Systems, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

LAUNCH_DIR=/opt/cisco/scope
USER=ndsuser
LAUNCH_STRING="JARS=`ls lib/*jar`;CP=etc;for x in $JARS;do CP=$CP:$x; done;export CLASSPATH=${CP};STARTUP_CLASS=com.cisco.vcs.foundation.scope.main.RunScope;bin/java_scope -server -XX:OnOutOfMemoryError="/sbin/service nds_scope stop" -Xms512m -Xmx1024m -XX:MaxPermSize=128m -Djava.security.egd=file:/dev/./urandom -Djava.net.preferIPv4Stack=true -Duser.timezone=UTC $STARTUP_CLASS"
PROCESS_FOOTPRINT="bin/java_scope"
OUTPUT_FILE=scope
OUTPUT_LEVEL=ERROR
CCP_ENABLED=N
CCP_SERVER=ccpserver1:5670;ccpserver2:5670
#TEST_SCRIPT=
